*{
    padding: 0px;
    margin: 2px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    
}
.contenido{
    margin: auto;
    padding: 15px;
    border-radius: 2px;
    /*height: 650px;
    width: 1200px;*/
    max-width: 1200px;
    width: 85%;

}
footer{
    
    clear: both;
    text-align: center;
}
.datos{
    height: auto;
    width: 45%;
    float: left;
    box-sizing: border-box;
}
.resultado{
    height: auto;
    width: 45%;
    float: right;
    box-sizing: border-box;
}
.devengando, .recargos, .extras, .deducciones, .resultadoTotal{
    width: 100%;
    font-size: 23px;
}

.buttonCalcular{
    width: 160px;
    height: 70px;
    font-size: 30px;
    margin-left: 35%;
    box-sizing: border-box;
}


.inputs, .cortos{
    border-radius: 2px;
    outline: none;
    height: 30px;
    width: 50px;
    font-size: 20px;
    border-width: 1px;
    text-align: center;

}
.valores{
    border-radius: 2px;
    outline: none;
    height: 30px;
    width: 120px;
    font-size: 20px;
    border-width: 1px;
    text-align: center;
    
}
.boton{
    width: 100%;
    height: auto;

}

@media screen and (max-width: 900px){
    .datos{
        width: 100%;
    }
    .resultado{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .contenido{
        width: 100%;
    }
}
